html, body
  width 100vw
  height 100vh
  box-sizing border-box

header
  height 20%
  background-color red
  display flex
  align-items center
  justify-content center
main
  height 60%
  background-color purple
footer
  height 20%
  background-color blue
  display flex
  align-items center
  justify-content center
  input
    margin 1em
